@import './variables';


.copy-btn {
    cursor: pointer;
    position: relative;
    transition: .9s;
    border: none;
    background-color: #ffffff;
    padding: .5rem 1rem;

    .more-text {
        position: absolute;
        left: 0;
        width: 100%;
        transition: .5s;
        background-color: #ffffff;
    }
    &:hover {
        padding-right: 0;
        .more-text {
            transform: translateX(3rem);
        }
    }
}
.start-btn {
    background-color: #eb6100;
    box-shadow: 0 5px 0 #f56500;
    &:hover {
        transform: translate(0, 3px);
        box-shadow: 0 2px 0 #f56500;
    }
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
}

.header-layout {
    display: flex;
    justify-content: space-around;
}
.nav-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.players-layout {
    border-bottom: black;
}
.board-layout {
    background-color: $board-bg-color;
    height: 25vh;
    display: flex;
    align-items: center;
    .deck-layout {
        width: 50%;
        > * {
            margin-left: auto;
        }
    }
    .cards-layout {
        width: 50%;
    }
}

$scrollbar-width: 8px;
.field-cards {
    overflow-x: scroll;
    margin-top: $scrollbar-width;
    &::-webkit-scrollbar {
        height: $scrollbar-width;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: darken($board-bg-color, 5%);
    }
    &:hover {
        ul {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            li {
                margin-top: auto;
                position: static !important;
            }
        }
    }
    ul {
        position: relative;
        padding-left: 0;
        margin: 0;
        &::before {
            content: "";
            display: block;
            // boarderの長さ: 6px
            padding-top: calc( #{$card-height} + 6px);
        }

        li {
            list-style: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transition-timing-function: linear;
        }
    }
}

.hand-cards {
    display: flex;
    justify-content: space-around;
    li {
        list-style: none;
    }
}


